name: Create Release

on:
  push:
    tags:
      - 'v*' # Triggers on tag push matching v*
  workflow_dispatch:

jobs:
  build-and-release:
    name: Build and Release
    runs-on: ${{ matrix.os }}
    container: ${{ matrix.label == 'fedora' && 'fedora:latest' || null }}
    strategy:
      matrix:
        include:
          - os: windows-2025
            build-type: Release
            label: windows
          - os: ubuntu-24.04
            build-type: Release
            label: ubuntu
          - os: ubuntu-latest        # GitHub runners for containers must be Ubuntu
            build-type: Release
            label: fedora

    steps:
      - name: Install git (Fedora)
        if: matrix.label == 'fedora'
        run: |
          dnf install -y git

      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: recursive

      # Prepare environment (Vulkan SDK, dependencies) based on OS
      - name: Prepare environment
        if: matrix.label != 'fedora'
        uses: humbletim/setup-vulkan-sdk@v1.2.1
        with:
          vulkan-query-version: 1.4.304.1
          vulkan-components: Vulkan-Headers, Vulkan-Loader, SPIRV-Tools, Glslang
          vulkan-use-cache: true

      - name: Install dependencies (Windows)
        if: matrix.label == 'windows'
        run: |
          vcpkg install hdf5 --triplet x64-windows
          vcpkg integrate install
          echo "$env:VCPKG_INSTALLATION_ROOT\installed\x64-windows\bin" >> $GITHUB_PATH
        shell: powershell

      - name: Install NSIS (Windows)
        if: matrix.label == 'windows'
        run: choco install nsis -y

      - name: Setup CUDA Toolkit
        if: matrix.label == 'windows'
        id: cuda-toolkit
        shell: pwsh
        run: .\Scripts\setup-cuda.ps1
        env:
            INPUT_CUDA_VERSION: 12.9.1

      - name: Configure CMake (Windows)
        if: matrix.label == 'windows'
        run: cmake -B ${{github.workspace}}/build -DRAYX_WERROR=ON -DCMAKE_BUILD_TYPE=${{ matrix.build-type }} -DRAYX_REQUIRE_CUDA=ON -DRAYX_REQUIRE_OPENMP=ON -DRAYX_REQUIRE_CUDA=ON -DCMAKE_INSTALL_PREFIX=${{github.workspace}}/install

      # Linux-specific build steps (Ubuntu)
      - name: Install dependencies (Ubuntu)
        if: matrix.label == 'ubuntu'
        run: |
          sudo apt update --yes
          sudo apt install --yes xorg-dev cmake libgtk-3-dev libdbus-1-dev libhdf5-dev

      - name: Install Cuda (Ubuntu)
        if: matrix.label == 'ubuntu'
        uses: Jimver/cuda-toolkit@master
        id: cuda-toolkit-ubuntu
        with:
          cuda: '12.8.1'
          method: 'network'

      - name: Configure CMake (Ubuntu)
        if: matrix.label == 'ubuntu'
        run: cmake -B ${{github.workspace}}/build -DRAYX_WERROR=ON -DCMAKE_BUILD_TYPE=${{ matrix.build-type }} -DRAYX_REQUIRE_CUDA=ON -DRAYX_REQUIRE_OPENMP=ON -DRAYX_REQUIRE_CUDA=ON -DCMAKE_INSTALL_PREFIX=${{github.workspace}}/install

      # Linux-specific build steps (Fedora)
      - name: Install build deps (Fedora)
        if: matrix.label == 'fedora'
        run: |
          dnf install -y git cmake gcc gcc-c++ make ninja-build \
            dbus-devel gtk3-devel \
            hdf5 hdf5-devel \
            vulkan-loader vulkan-headers \
            rpm-build

      - name: Detect Fedora version
        if: matrix.label == 'fedora'
        run: echo "FEDORA_VERSION=$(rpm -E %fedora)" >> $GITHUB_ENV

      - name: Configure CMake (Fedora)
        if: matrix.label == 'fedora'
        run: cmake -B ${{ github.workspace }}/build -DRAYX_WERROR=ON -DCMAKE_BUILD_TYPE=${{ matrix.build-type }} \
                     -DRAYX_REQUIRE_OPENMP=ON -DCMAKE_INSTALL_PREFIX=${{github.workspace}}/install

      # Build the project
      - name: Build
        run: cmake --build ${{github.workspace}}/build --config ${{ matrix.build-type }}

      - name: Test
        working-directory: ${{github.workspace}}/build/bin/release
        run: ./rayx-core-tst -x

      # Generate Windows artifacts (ZIP and NSIS installer)
      - name: CPack (Windows - ZIP)
        if: matrix.label == 'windows'
        working-directory: ${{github.workspace}}/build
        run: cpack -G ZIP

      - name: CPack (Windows - NSIS Installer)
        if: matrix.label == 'windows'
        working-directory: ${{github.workspace}}/build
        run: cpack -G NSIS

      # Generate Ubuntu artifacts (DEB, TAR)
      - name: CPack (Ubuntu - DEB)
        if: matrix.label == 'ubuntu'
        working-directory: ${{github.workspace}}/build
        run: cpack -G DEB

      - name: CPack (Ubuntu - TAR)
        if: matrix.label == 'ubuntu'
        working-directory: ${{github.workspace}}/build
        run: cpack -G TGZ

      # Generate Fedora artifacts (RPM, TAR)
      - name: Generate RPM and TAR (Fedora)
        if: matrix.label == 'fedora'
        working-directory: ${{github.workspace}}/build
        run: |
          cpack -G RPM
          cpack -G TGZ

          # rename RPM with fedora version
          for f in RAYX-*.rpm; do
            mv "$f" "${f%.rpm}.fedora${FEDORA_VERSION}.rpm"
          done

      # Upload artifacts (Windows)
      - name: Upload build artifacts (Windows)
        if: matrix.label == 'windows'
        uses: actions/upload-artifact@v4
        with:
          name: windows-artifacts
          path: |
            ${{github.workspace}}/build/RAYX-*.zip
            ${{github.workspace}}/build/RAYX-*.exe
          if-no-files-found: error

      # Upload artifacts (Ubuntu)
      - name: Upload build artifacts (Ubuntu)
        if: matrix.label == 'ubuntu'
        uses: actions/upload-artifact@v4
        with:
          name: ubuntu-artifacts
          path: |
            ${{github.workspace}}/build/RAYX-*.deb
            ${{github.workspace}}/build/RAYX-*.tar.gz
          if-no-files-found: error

      # Upload artifacts (Fedora)
      - name: Upload artifacts (Fedora)
        if: matrix.label == 'fedora'
        uses: actions/upload-artifact@v4
        with:
          name: fedora-artifacts
          path: |
            ${{github.workspace}}/build/RAYX-*.rpm
            ${{github.workspace}}/build/RAYX-*.tar.gz

      - name: Extract version from tag
        id: get_version
        run: echo "version=${GITHUB_REF#refs/tags/v}" >> $GITHUB_ENV

      - name: Archive source code
        run: |
          git archive HEAD --format=zip --output=${{github.workspace}}/build/RAYX-source-v${{env.version}}.zip

  release:
    name: Create Release
    needs: build-and-release
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          sparse-checkout: CHANGELOG.md

      - name: Download Artifacts
        uses: actions/download-artifact@v4
        with:
          path: ${{github.workspace}}/artifacts

      - name: Extract version from tag
        id: get_version
        run: echo "version=${GITHUB_REF#refs/tags/v}" >> $GITHUB_ENV

      - name: Create and Upload Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          body_path: ${{github.workspace}}/CHANGELOG.md
          files: |
            ${{github.workspace}}/artifacts/windows-artifacts/*.zip
            ${{github.workspace}}/artifacts/windows-artifacts/*.exe
            ${{github.workspace}}/artifacts/ubuntu-artifacts/*.deb
            ${{github.workspace}}/artifacts/fedora-artifacts/*
            ${{github.workspace}}/artifacts/ubuntu-artifacts/*.tar.gz
            ${{github.workspace}}/artifacts/ubuntu-artifacts/RAYX-source-v${{env.version}}.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
